In [1]:
import os
import time
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import cellpy
from cellpy import cellreader

%matplotlib inline

In [2]:
filename = Path("/Users/jepe/Arbeid/Data/celldata/20171120_nb034_11_cc.h5")
print(f"size: {filename.stat().st_size/1_048_576}")

my_data = cellreader.CellpyData()
my_data.load(filename)
dataset = my_data.dataset

size: 17.35070037841797

In [3]:
dataset.step_table.head()
print(dataset.step_table.columns)

Index(['cycle', 'step', 'I_avr', 'I_std', 'I_max', 'I_min', 'I_start', 'I_end',
       'I_delta', 'I_rate', 'V_avr', 'V_std', 'V_max', 'V_min', 'V_start',
       'V_end', 'V_delta', 'V_rate', 'Charge_avr', 'Charge_std', 'Charge_max',
       'Charge_min', 'Charge_start', 'Charge_end', 'Charge_delta',
       'Charge_rate', 'Discharge_avr', 'Discharge_std', 'Discharge_max',
       'Discharge_min', 'Discharge_start', 'Discharge_end', 'Discharge_delta',
       'Discharge_rate', 'IR', 'IR_pct_change', 'type', 'info'],
      dtype='object')

tot usage for `make_step_table``:
- 7.951 sec
- uses 5.15 sec in `_extract_step_values`

In [4]:
my_data.make_step_table()

In [4]:
old_step_table = my_data.dataset.step_table.copy()

In [5]:
my_data.make_step_table_new()

In [5]:
%prun new_step_table = my_data.dataset.step_table.copy()

/Users/jepe/scripting/cellpy/cellpy/readers/cellreader.py:1379: RuntimeWarning: invalid value encountered in double_scalars
  difference = (last(x) - first(x)) * 100 / first(x)

In [6]:
old_step_table.head()

,cycle,step,sub_step,datapoint_start,datapoint_end,datapoint_delta,time_start,time_end,time_delta,I_avr,...,Discharge_min,Discharge_start,Discharge_end,Discharge_delta,Discharge_rate,IR,IR_pct_change,type,info,sub_type
0,1,1,0,1.0,288.0,288.0,299.966630,86400.023134,86100.056504,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,NaN,ocvrlx_down,nan,None
1,1,2,0,289.0,289.0,1.0,0.031239,0.031239,0.000000,4.529220e-07,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,67.765251,inf,ir,nan,None
2,1,3,0,290.0,1261.0,972.0,0.000001,65402.192811,65402.192810,-2.670227e-04,...,7.800000e-14,7.800000e-14,0.004852,6.219901e+12,9.510233e+07,67.765251,0.000000,discharge,nan,None
3,1,4,0,1262.0,1262.0,1.0,0.000003,0.000003,0.000000,-1.662540e-06,...,4.851523e-03,4.851523e-03,0.004852,0.000000e+00,NaN,67.765251,0.000000,ir,nan,None
4,1,5,0,1263.0,1294.0,32.0,12.573403,1800.007522,1787.434119,0.000000e+00,...,4.851523e-03,4.851523e-03,0.004852,0.000000e+00,0.000000e+00,35.101551,-0.482013,ocvrlx_up,nan,None

In [7]:
new_step_table.head()

                   datapoint                                      \
                         avr         std   min   max first  last
cycle step substep
1     1    1           144.5   83.282651     1   288     1   288
      2    1           289.0         NaN   289   289   289   289
      3    1           775.5  280.736531   290  1261   290  1261
      4    1          1262.0         NaN  1262  1262  1262  1262
      5    1          1278.5    9.380832  1263  1294  1263  1294

                                          time                            \
                           delta           avr           std         min
cycle step substep
1     1    1        28700.000000  43352.167406  24986.091534  299.966630
      2    1            0.000000      0.031239           NaN    0.031239
      3    1          334.827586  18596.445712  21424.718554    0.000001
      4    1            0.000000      0.000003           NaN    0.000003
      5    1            2.454473    924.089782    559.274634   12.573403

                     ...    Internal_Resistance IR_pct_change            \
                     ...                  delta           avr       std
cycle step substep   ...
1     1    1         ...                    0.0           NaN       NaN
      2    1         ...                    0.0           inf       NaN
      3    1         ...                    0.0      0.000000  0.000000
      4    1         ...                    0.0      0.000000       NaN
      5    1         ...                    0.0     -0.015063  0.085209

                                                                   \
                         min       max     first      last  delta
cycle step substep
1     1    1             NaN       NaN       NaN       NaN    NaN
      2    1             inf       inf       inf       inf    NaN
      3    1        0.000000  0.000000  0.000000  0.000000    0.0
      4    1        0.000000  0.000000  0.000000  0.000000    0.0
      5    1       -0.482013  0.000000 -0.482013  0.000000 -100.0

                           type sub_type

cycle step substep
1     1    1        ocvrlx_down     None
      2    1                 ir     None
      3    1          discharge     None
      4    1                 ir     None
      5    1          ocvrlx_up     None

[5 rows x 58 columns]

In [8]:
new_step_table.type.unique()

array(['ocvrlx_down', 'ir', 'discharge', 'ocvrlx_up', 'charge'],
      dtype=object)

In [9]:
old_step_table.type.unique()

array(['ocvrlx_down', 'ir', 'discharge', 'ocvrlx_up', 'charge'],
      dtype=object)