In [1]:
import os

import pandas as pd
import numpy as np
import cellpy

/Users/jepe/scripting/cellpy/cellpy/parameters/prmreader.py:85: UserWarning: Unsafe loading of yaml-file. Pleaseupdate pyyaml to a more recentversion! (module 'yaml' has no attribute 'FullLoader')
  warnings.warn(f"Unsafe loading of yaml-file. Please"

## Crating some dataframes and collecting them into a dictionary

In [6]:
df1 = pd.DataFrame(data=np.random.rand(5,3), columns=["a b c".split()])

In [9]:
df2 = pd.DataFrame(data=np.random.rand(5,3), columns=["current voltage capacity".split()])

In [10]:
df3 = pd.DataFrame(data=np.random.rand(5,3), columns=["d e f".split()])

In [11]:
df_dict = {
    "first": df1,
    "second": df2,
    "third": df3
}

## Trying some solutions that might help in getting tab-completion

In [14]:
from collections import namedtuple

In [20]:
ExperimentsTuple = namedtuple('MyTuple', sorted(df_dict))

In [21]:
current_experiments = ExperimentsTuple(**df_dict)

In [26]:
current_experiments.second.current

    current
0  0.006793
1  0.215343
2  0.493361
3  0.274695
4  0.041102

### One-liner...

In [27]:
c_experiments = namedtuple("experiments", sorted(df_dict))(**df_dict)

In [29]:
c_experiments.first.a

          a
0  0.708679
1  0.495744
2  0.009311
3  0.021183
4  0.835171

## Using box

In [32]:
import box

In [33]:
df_box = box.Box(df_dict)

In [34]:
df_box.first

          a         b         c
0  0.708679  0.170550  0.048087
1  0.495744  0.382094  0.610723
2  0.009311  0.564369  0.050597
3  0.021183  0.550686  0.961825
4  0.835171  0.285718  0.177325

In [35]:
df_box["first"]

          a         b         c
0  0.708679  0.170550  0.048087
1  0.495744  0.382094  0.610723
2  0.009311  0.564369  0.050597
3  0.021183  0.550686  0.961825
4  0.835171  0.285718  0.177325

In [36]:
df_box["new_df"] = pd.DataFrame(data=np.random.rand(5,3), columns=["one two three".split()])

In [37]:
df_box.new_df

        one       two     three
0  0.420711  0.116200  0.600523
1  0.940242  0.950809  0.520905
2  0.274089  0.494756  0.472648
3  0.672736  0.450621  0.131373
4  0.439726  0.424547  0.967094

In [39]:
df_box["20190101_FC_data_01"] = pd.DataFrame(data=np.random.rand(5,3), columns=["foo bar baz".split()])

However, starting keys with integers does not seem to work when using box for tab completion.

## What I have learned
Tab completion can probably be easiest implemented by creating namedtuple if I dont want to depend on other packages.
However, using `python box` gives the added benefit of also allowing dictionary-type look-up in addtion to . based.

By the way, Jupyter can tab-complete dictionary keys also.

In [30]:
df_dict["first"]

          a         b         c
0  0.708679  0.170550  0.048087
1  0.495744  0.382094  0.610723
2  0.009311  0.564369  0.050597
3  0.021183  0.550686  0.961825
4  0.835171  0.285718  0.177325

In [38]:
df_dict["20190101_FC_data_01"] = pd.DataFrame(data=np.random.rand(5,3), columns=["foo bar baz".split()])

## Conclussion
Lets go for `python box`

In [55]:
cell_id = "20190101_FC_data_01"
pre = ""
new_id = "".join((pre, cell_id))
new_id

'20190101_FC_data_01'

In [56]:
new_id.split("cell_")

['20190101_FC_data_01']

In [57]:
new_id.lstrip("cell_")

'20190101_FC_data_01'